/* RESET */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* FONTS */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #f8f8f8; /* Sfondo chiaro */
  color: #333; /* Colore del testo */
}

/* Header */
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #525286;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 50px;
}

/* Homepage Container */
.container {
  display: flex; /* Disposizione degli utenti in riga */
  justify-content: space-around; /* Spaziatura uniforme tra gli utenti */
  align-items: center; /* Centrare verticalmente */
  flex-wrap: nowrap; /* Impedisce che gli elementi vadano a capo */
  gap: 20px; /* Spaziatura tra gli elementi */
  width: 100%; /* Larghezza massima del contenitore */
  padding: 0 20px; /* Aggiunge un po' di margine ai lati */
  overflow-x: auto; /* Permette lo scorrimento orizzontale se necessario */
}

/* Profilo Utente */
.person {
  text-align: center;
  flex-shrink: 0; /* Impedisce che gli elementi si ridimensionino */
}

.person-image {
  width: 150px; /* Dimensioni uniformi per le immagini */
  height: 150px;
  border-radius: 50%; /* Trasforma le immagini in cerchi */
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}

.person-name {
  font-size: 16px;
  font-weight: bold;
}

.person a {
  text-decoration: none;
  color: #659AF1;
  font-size: 14px;
  transition: color 0.2s;
}

.person a:hover {
  color: #407BBF;
}

/* Buttons */
.button {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #555;
}

.button-twitter {
  background-color: #1DA1F2;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  transition: background-color 0.3s;
}

.button-twitter:hover {
  background-color: #0d8ae6;
}

/* Profile Details */
.profile-details {
  display: flex; /* Usa Flexbox per centrare gli elementi */
  flex-direction: column; /* Ordina gli elementi verticalmente */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra orizzontalmente */
  text-align: center; /* Centra il testo */
  width: 100%; /* Larghezza massima */
  padding: 20px; /* Spaziatura interna */
  gap: 15px; /* Spaziatura tra gli elementi */
}

